body {
    background-image: url(Images/elegant.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.header{
    position:fixed;
    top: 0;
    background-color:rgba(10, 10, 1, 0.8);
    box-shadow: 0px 1px 2px gold;
    padding: 30px 5px 30px 5px;
    width: 1500px;
    margin: 0px;
}

.title {
    display: inline;
}
.title h1 {
    font-family: 'Bad Script', cursive;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 10px;
    color:goldenrod;
    word-spacing: 10px;
    text-shadow: 1px 2px 2px rgb(219, 201, 201);
    padding-left: 50px;
    padding-bottom: 10px;
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px;
    margin-left: 50px;
    color:goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
a:hover{
    color: white;
}

.nav-menu{
    display: inline;
    padding=left: 100px;
    margin-left: 100px;
}

.first-paragraph {
    margin: 200px 100px 100px 100px;
    padding: 50px 200px 50px 200px;
}

.first-paragraph p {
    font-size: 20px;
    text-align: center;
    color: rgb(252, 247, 227);
    vertical-align: middle;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.first-paragraph strong{
    color: goldenrod;
}

.reserve{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(10, 2, 1);
    width: 200px;
    padding:10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
}

.reserve a {
    color:goldenrod;
    text-transform: uppercase;
    word-spacing: 5px;
    text-decoration: none;
    margin:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.middle {
    background-color:rgba(10, 10, 1, 1);
    width: auto;
    padding: 80px 150px 80px 150px;
    color:rgb(252, 247, 227);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-image{
    background-color: rgba(10, 10, 1, 1);
    width: auto;
    height: 600px;
    border-top: 1px solid whitesmoke;
    padding: 10px 20px 10px 20px;
}

.words {
    width:350px;
    height:500px;
    float: left;
    margin: 30px;
    padding: 10px;
}

.words h3{
    color:ghostwhite;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    color: goldenrod;
    text-align: left;
    width:fit-content;
    padding: 10px;
    position: relative;
    top: 100px;
    left: 10px;


}

.words > p{
    text-align: justify;
    color:ghostwhite;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 10px;
    float: left;
    width:fit-content;
    position: relative;
    top: 90px;
    left: 10px;
    line-height: 25px;
}

.words > img{
    border: 1px solid goldenrod;
    height: 500px;
    width: 350px;
    border-radius: 50px;
}
.main-footer {
    width: 100%;
    background-color: black;
}
      
.main-footer p {
    color: #ffffff;
    text-align: center;
    padding: 30px;
}
